.c-body {
	margin: 0;
}

.c-main-container {
	width: auto;
}

.c-environments {
	display: flex;
}

.c-button-environment {
	width: 75px;
	height: 75px;
}

.c-button {
	cursor: pointer;
	height: 100%;
	width: 100%;
	border: none;
	transition: 0.3s;
	font-size: 2em;
}

.c-button:hover {
	background-color: #808080;
}
